@page "/repo"

<PageTitle>Repo</PageTitle>

<h3>Link to project's repo:</h3>
<span><a href="https://github.com/Wikator/ProductAppClient">https://github.com/Wikator/ProductAppClient</a></span>

@code {
    
}